<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @person.organisation.title %>
</p>

<p>
  <strong>Organisation Location:</strong>
  <%= @person.organisation.location %>
</p>

<p>
  <strong>Assessment count:</strong>
  <%= @person.assessment_count %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
